amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
Django==2.2.1
django-celery==3.2.2
djangorestframework==3.12.1
idna==2.10
kombu==3.0.37
olefile==0.46
Pillow==7.2.0
pycparser==2.20
pycryptodomex==3.9.4
PyMySQL==0.10.1
pyOpenSSL==19.1.0
python-alipay-sdk==2.1.1
python-memcached==1.59
pytz==2020.1
requests==2.24.0
ronglian-sms-sdk==1.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.25.10
wincertstore==0.2
